name: Main Workflow

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-files:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Check Blog Feed URL
        id: check_url
        run: |
          STATUS_CODE=$(curl -o /dev/null -s -w "%{http_code}" https://blog.beucismis.org/posts/index.xml)
          echo "status_code=$STATUS_CODE" >> "$GITHUB_OUTPUT"

      - name: Download Feed
        run: |
          if [ "${{ steps.check_url.outputs.status_code }}" = "200" ]; then
            echo "Feed reachable. Updating temp-feeds.xml"
            curl -s https://blog.beucismis.org/posts/index.xml -o temp-feeds.xml
          else
            echo "Feed not reachable."
            if [ ! -f temp-feeds.xml ]; then
              echo "No existing temp-feeds.xml found. Creating empty file."
              touch temp-feeds.xml
            fi
          fi

      - name: Update Blog Posts in TEMPLATE.md
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          readme_path: "TEMPLATE.md"
          max_post_count: 10
          feed_list: "temp-feeds.xml"
          date_format: "d mmm yyyy"
          template: "- <a href='$url'>$title</a> ($date) <br/>"
          skip_commit: true

      - name: Generate README.md from stats
        uses: teoxoy/profile-readme-stats@master
        with:
          token: ${{ secrets.USER_TOKEN }}

      - name: Commit all changes if needed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          if git diff --quiet; then
            echo "No changes to commit"
          else
            git add TEMPLATE.md README.md temp-feeds.xml
            git commit -m "Update blog posts, stats, and feed"
            git push
          fi
